@charset "UTF-8";
/* CSS Document */

<style>
		div, h1, p{ border: 2px solid deeppink;}
		body{background-color: #6659B2}
		h1{background-color:#735BFF}
		p{color:#FFE741}
		.f1{font: italic small-caps bold 14pt/1 arial;}
		p { line-height: 120%;  font-size: 18pt }
		h1{text-shadow: 14px #FF0000;}
		h1{color:#0FF}
		h1, h2{font-family: 'Love Ya Like A Sister', cursive;}

</style>  


